* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #111;
    color: white
}

.header {
    background-color: #0c2c54;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid white;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#header_title {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 50px;
    background-color: #0c2c54;
}

.logo_header{
    width: 306px;
    height: 230px;
    background-color: #0c2c54;
}

#financeiraWord{
    color: #5dbafe;
    font-family: monospace;
    font-size: 50px;
    background-color: #0c2c54;
}

.div_campos{
    width: 100%;
    margin: 0 30px 30px 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.div_inputs{
    flex-direction: column;
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}

input{
    background-color: #444;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid white;
}

button {
    background-color: #444;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    border: 2px white solid;
    width: 150px;
}

.airplane1 {
    width: 750px;
    background-color: #0c2c54;
    height: 375px;
    border-radius: 0 0 0 100%;
    display: flex;
}

.airplane2 {
    width: 710px;
    background-color: white;
    position: absolute;
    right: 0;
}

.airplane_img {
    width: 666px;
    background-color: white;
}

#div_resultadosContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.resultados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    padding: 20px 50px 20px 50px;
    background-color: #153d5a;
    border-radius: 10px;
    border: 2px white solid;
}

.topics {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    background-color: #153d5a;
    font-size: 25px;
    margin-bottom: 5px;
}

.topic_list li{
    background-color: #153d5a;
    padding: 3px;
    display: flex;
    list-style: circle;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: #0c2c54;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid white;
}

.logo_footer{
    width: 172px;
    height: 130px;
    background-color: #0c2c54;
}

.status {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: white 2px solid;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
}

.status_lucroPadrao {
    background-color: yellow;
}

.status_lucroSensor {
    background-color: #11ce00;
}

.status_despesaPadrao {
    background-color: #f00;
}

.status_despesaSensor {
    background-color: rgb(190, 107, 68);
}

.status_outros {
    background-color: #0c2c54;
}

.topic_class {
    display: flex;
    background-color: #153d5a;
}

.legenda {
    padding: 20px 50px 20px 50px;
    background-color: #0a2030;
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 400px;
}

.legenda_titulo {
    font-weight: bold;
    font-size: 20px;
    background-color: #0a2030;
    align-self: center;
    margin-bottom: 5px;
}

.legenda_lista li {
    background-color: #0a2030;
    display: flex;
    padding: 3px
}